html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.sidebar {
    min-height: 100vh;
}

 .sidebar .nav-link {
    border-bottom: 1px solid #d0d7e2;
    padding: 12px 10px;
}

.sidebar .nav-link:last-child {
    border-bottom: none;
}

.sidebar .nav-link:hover {
    background-color: #dbeafe;
    border-radius: 6px;
}

