@model IEnumerable<DemoASP.Models.Student>
@{
    ViewData["Title"] = "หน้าแรก";
}

<h1 class="text-center">หน้าแรกของเว็บไซต์</h1>

@foreach (var Student in Model)
{
    <p>รหัสนักเรียน : @Student.Id</p>
    <p>ชื่อนักเรียน : @Student.Name</p>
    <p>คะแนน : @Student.Score</p>

    @if (@Student.Score >= 50)
    {
        <strong class="text-success">สอบผ่าน</strong>
    } else
    {
        <strong class="text-danger">สอบไม่ผ่าน</strong>
    }
    <hr />
}
